$color-grey: #dcdcdc;
$color-yellow: #ffb300;
$color-yellow-light: #ffe8b4; 
$color-orange: #994a00;

@font-face {
  font-family: 'NotoSerif';
  src: url('../public/NotoSerif-Regular.ttf');
  unicode-range: U+03??;
}

body {
  font-family: 'NotoSerif', -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;  
}

.navigation {  
  background-color: transparent;
  border: 3px solid $color-yellow;
  color: $color-grey;
}

.back {
  background-color: transparent;
  border: 3px solid $color-orange;
  color: $color-grey;
}

.scroll {
  background-color: transparent;
  border: none;
  color: $color-grey;
  position: fixed;
  right: 1vh;
  bottom: 0;
  font-size: 3rem;
}

main > ul li {
  list-style-type: lower-greek;    
}

article ul li {
  margin-bottom: 15px;
}

article em {
  font-style: normal;
  color: $color-yellow-light;
}

