$dark-theme-blue: #003678;
$dark-theme-blue-accent: #b4d5ff; 
$dark-theme-grey: #dcdcdc;

$light-theme-blue: #346cc0;
$light-theme-blue-accent: #6190ff;
$light-theme-grey: #a6a6a6;

$green-background: #61ffb04a;
$blue-background: #61abff4a;

$right: #29ff69;
$right-attenuated: #29ff6965;
$wrong: #f06292;
$wrong-attenuated: #f0629165;

@font-face {
  font-family: 'NotoSerif';
  src: url('../public/NotoSerif-Regular.ttf');
  unicode-range: U+03??;
}

body {
  font-family: 'NotoSerif', -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;  
}

.navigation {  
  background-color: transparent;
  border: 3px solid $dark-theme-blue;
  color: $dark-theme-grey;
}

.back {
  background-color: transparent;
  border: 3px solid $dark-theme-blue;
  color: $dark-theme-grey;
}

.scroll {
  background-color: transparent;
  border: none;
  color: $dark-theme-grey;
  position: fixed;
  right: 1vh;
  bottom: 0;
  font-size: 3rem;
}

a, a:visited {
  color: $dark-theme-blue-accent;
}

button:enabled:hover {
  background-color: var(--accent-bg);
}

main > ul li {
  list-style-type: lower-greek;
}

article {
  ul li {
    margin-bottom: 15px;
  }
  em {
    font-style: normal;
    color: $dark-theme-blue-accent;
  }
  input[type='checkbox']{
    margin-left: 20px;
    &:checked{
      background-color: $dark-theme-blue-accent;
    }
  }
  span.par{
    background-color: $blue-background;
  }
  span.impar{
    background-color: $green-background;
  }
  span.attenuated {
    opacity: 0.7
  }
  .cap {
    text-transform: capitalize;
  }
  .right {
    float: right
  }
  .left {
    float: left
  }
  .modalHelp::backdrop {
    background: rgba(0, 0, 0, 0.75)
  }
  span.rightAnswer, span.wrongAnswer {
    padding: 8px;
    border-radius: var(--standard-border-radius);
  }
  span.rightAnswer {
    color: $right;
    background-color: $right-attenuated;
  }
  span.wrongAnswer {
    color: $wrong;
    background-color: $wrong-attenuated;
  }
}

@media (prefers-color-scheme: light) {
  $wrong: #d81b60;
  $wrong-attenuated: #d81b6065;
  $right: #14973b;
  $right-attenuated: #27d25a65;
  article {
    em {
      color: $light-theme-blue-accent;
    }
    input[type='checkbox']{
      &:checked{
        background-color: $light-theme-blue-accent;
      }
    }
    span.rightAnswer {
      color: $right;
      background-color: $right-attenuated;
    }
    span.wrongAnswer {
      color: $wrong;
      background-color: $wrong-attenuated;
    }
  }

  a, a:visited {
    color: $light-theme-blue-accent;
  }

  .back, .navigation {
    border: 3px solid $light-theme-blue;
    &:hover {
      border: 3px solid $light-theme-blue-accent;
      filter: none !important;
    }
  }

  .scroll, .back, .navigation {
    color: $light-theme-grey;
  }
}
